.contact-links span {
    font-size: 1.4rem;
}

.form-btn {
    border: 1px solid black;
    transition: .3s;
    background: black;
    color: white;
    height: 3rem;
    border: 2px solid black !important;
}

.form-btn:hover {
    background: black;
    color: white;
    border: 2px solid black !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-control {
    border: 2px solid #222222 !important;
    border-radius: 0 !important;
    height: 3rem;
}

.form-control:focus {
    border: 4px solid #222222 !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#messageInput {
    height: 10rem;
}