.card {
    border: none;
}

.card .card-title {
    font-size: 1.3rem;
    margin: 0 !important;
    text-decoration: none;
    margin: .3rem 0;
}

.card .card-text {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0 !important;
}